@tailwind base;
@tailwind components;
@tailwind utilities;
@import "https://js.arcgis.com/4.23/@arcgis/core/assets/esri/themes/dark/main.css";

/* @layer base {
  h1 {
    @apply
  }
  pre {
    @apply
  }
  code {
    @apply
  }
} */

/* @layer components {
  .btn {
    background-color: theme('colors.white')
  }  
  .card {
    border-radius: theme('borderRadius.md')
  }
} */

/* @layer utilities {
  .custom-class {
    color: 'white';
  }
} */